<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.ParserTestActivity"
            android:exported="true"
            android:label="Parser Test"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name=".ui.ParserConfigActivity"
            android:exported="true"
            android:label="@string/parser_config_title"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>
