<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.ConfirmActivity"
            android:exported="true"
            android:label="Confirm Receipt"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name=".ui.AccountingTestActivity"
            android:exported="true"
            android:label="Accounting Test"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>
